<h1>Meus Convites</h1>
<% if @memberships.empty? %>
  <h3>Você não tem convites =[</h3>
<% else %>
  <% @memberships.each do |membership| %>
    <%= membership.group.group_name %>
    <%= button_to "Aceitar Convite", membership_path(membership), method: :patch %>
    <%= button_to "Recusar Convite", deny_memberships_path(membership), method: :delete %>
  <% end %>
<% end %>
