<footer class="footer bottom mt-5" style="margin-bottom: 0px;">
      <div class="footer-links">
        <a href="https://github.com/" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://pt-br.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-text">
        Controle seus gastos, transforme sua vida <i class="fas fa-heart"></i>
      </div>
      <div class="footer-text">
        Suporte: contact@coopwallet.one
      </div>
  </footer>
