<div class="container">
<div class="text-center mt-3 mb-3">
  <h1>Entradas</h1>
</div>

  <canvas class='total-box'
  data-controller="chart"
  data-chart-data-value="<%= @chart_data.to_json %>"
  data-chart-options-value="<%= @chart_options.to_json %>"
></canvas>

  <div><%= render partial: 'form' %></div>

  <div class="table-responsive mt-4">
    <table class="table table-striped table-hover" style="width: 875px; padding: 0;">
      <thead>
        <tr>
          <th class="text-center" style="width: 150px">Data</th>
          <th class="text-center" style="width: 100px">Categoria</th>
          <th class="text-center">Descrição</th>
          <th class="text-center" style="width: 100px">Valor</th>
          <th class="text-center" style="width: 100px">Usuário</th>
          <th class="text-center" style="width: 200px">Ações</th>

        </tr>
      </thead>

      <tbody>
        <% @incomes.reverse.each do |income| %>
         <%= render partial: 'income', locals: {income: income} %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
