
<html>
<head>
    <title>CoopWallet - Homepage</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/4968396/pexels-photo-4968396.jpeg);">
  <div class="container">
    <h1><strong>CoopWallet</strong></h1>
    <p>Divida suas contas e despesas com as pessoas que mais importam para você!</p>
    <a class="btn btn-flat" href="https://www.coopwallet.one/users/sign_up"><strong>Comece Agora</strong></a>
  </div>
  </div>

<div class="container">
    <h2 class="text-center">Comece agora mesmo!</h2>
    <div class="cards">

      <div class="card">
        <img src="https://cdn-icons-png.flaticon.com/512/5225/5225057.png" alt="share">
        <h4>Crie um Grupo</h4>
        <p>Comece criando um grupo e adicione quem você quiser</p>
      </div>

      <div class="card">
        <img src="https://cdn-icons-png.flaticon.com/512/1198/1198291.png" alt="">
        <h4>Insira os dados</h4>
        <p>Inclua os ganhos e as despesas</p>
      </div>

      <div class="card">
        <img src="https://cdn-icons-png.flaticon.com/512/910/910518.png" alt="">
        <h4>Acompanhe o orçamento</h4>
        <p>Veja com facilidade quanto o grupo acumulou e gastou</p>
      </div>

    </div>
  </div>

</div>
</body>
</html>
