
<html>
<head>
    <title>CoopWallet - Homepage</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <nav class="navbar">
        <a href="#">
            <img src="caminho/para/imagem-perfil.jpg" alt="Imagem de perfil">
        </a>
    </nav>

    <div class="banner"></div>

    <div class="app-info">
        <p>Dividas contas e despesas com as pessoas que mais importam para você!</p>
    </div>

    <div class="image"></div>

    <div class="input-container">
        <input type="text" placeholder="Nome" value="Nome">
        <input type="email" placeholder="E-mail" value="E-mail">
        <button class="signup-button">Cadastre</button>
    </div>
</body>
</html>
