<!DOCTYPE html>
<html>
<head>
    <title>CoopWallet</title>
</head>
<body>
    <nav class="navbar">
        <a href="#">
            <img src="caminho/para/imagem-perfil.jpg" alt="Imagem de perfil">
        </a>
    </nav>

    <div class="banner"></div>

    <div class="app-info">
        <p>Divida contas e despesas com as pessoas que mais importam para você!</p>
    </div>

    <div class="image"></div>

    <div class="buttons">
        <button>Nome</button>
        <button>E-mail</button>
        <button>Cadastre</button>
    </div>
</body>
</html>
