<!DOCTYPE html>
<html>
<head>
    <title>CoopWallet</title>
</head>
<body>
    <nav class="navbar">
        <a href="#">
            <img src="caminho/para/imagem-perfil.jpg" alt="Imagem de perfil">
        </a>
    </nav>

    <div class="banner"></div>

    <div class="app-info">
        <p>Divida contas e despesas com as pessoas que mais importam para você!</p>
    </div>

    <div class="image"></div>

    <div class="buttons">
        <button>Nome</button>
        <button>E-mail</button>
        <button>Cadastre</button>
    </div>
</body>
<div class="container">
  <h1>Home</h1>

  <% if @groups.empty? %>
    <p>Você não está em nenhum grupo</p>
    <% else %>
    <% @groups.each do |group| %>
    <p><%= group.group_name %></p>
    <%= link_to 'Saídas', group_outcomes_path(group), class: "btn btn-dark"%>
    <%= link_to 'Entradas', group_incomes_path(group), class: "btn btn-dark"%>

    <% end %>

    <% end %>



</div>
</html>
